@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
* {
    padding: 0;
    margin: 0;
}

.body {
    background-image: url("../snake.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    background: #222222;
    height: 99vmin;
    width: 100vmin;
    border: 3px groove #434242;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#score {
    color: white;
    text-align: center;
    font-family: 'Aboreto', cursive;
    font-size: larger;
    margin-top: 10px;
    background-color: #222222;
    position: absolute;
    top: 30px;
    right: 30px;
    border: 5px groove #434242;
    width: 20%;
}

.head {
    background-image: url("../snakehead.jpg");
    border-radius: 100%;
    background-size: cover;
}

.snake {
    border-radius: 100%;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(15, 84, 11, 1) 48%, rgba(0, 212, 255, 1) 100%);
}

.food {
    background-image: url("../food.jpg");
    background-size: cover;
    border-radius: 100%;
}