@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
* {
    padding: 0;
    margin: 0;
}

.body {
    background-image: url("../snake.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    background: #222222;
    height: 99vmin;
    width: 100vmin;
    border: 3px groove #434242;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#score {
    color: white;
    text-align: center;
    font-family: 'Aboreto', cursive;
    font-size: larger;
    margin-top: 10px;
    background-color: #222222;
    position: absolute;
    top: 30px;
    right: 30px;
    border: 5px groove #434242;
    width: 100px;
}

.head {
    background: rgb(173, 19, 50);
    background: radial-gradient(circle, rgba(173, 19, 50, 1) 0%, rgba(177, 216, 200, 1) 90%);
    border-radius: 100%;
}

.snake {
    border-radius: 100%;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(15, 84, 11, 1) 48%, rgba(0, 212, 255, 1) 100%);
}

.food {
    background-image: url("../food.jpg");
    background-size: cover;
    border-radius: 100%;
}

.hidden {
    visibility: hidden;
}

button {
    width: 90px;
    height: 70px;
    background-color: #000000;
    color: white;
    border-radius: 40%;
}

#buttonBoard {
    display: none;
}

#buttonUp {
    grid-row: 1;
    grid-column: 2;
}

#buttonDown {
    grid-row: 2;
    grid-column: 2;
}

#buttonLeft {
    grid-row: 2;
    grid-column: 1;
}

#buttonRight {
    grid-row: 2;
    grid-column: 3;
}

@media only screen and (max-width: 600px) {
    #board {
        position: relative;
        bottom: 70px;
    }
    #buttonBoard {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        position: absolute;
        bottom: 8%;
    }
}